#piechart {
  min-height: 450px;
}

.row {
  margin:0 !important;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.totalRemaining-dot{
   background-color: blue;
}

.rent-dot {
   background-color: red;
}

.food-dot {
   background-color: orange;
}

.entertainment-dot{
   background-color: green;
}

.groceries-dot{
   background-color: purple;
}

.legend-total{
   display: inline-block;
}

.legend-rent{
   display: inline-block;
}

.legend-food{
   display: inline-block;
}

.legend-entertainment{
   display: inline-block;
}

.legend-groceries{
   display: inline-block;
}
